*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	height: 400px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}
.title{
	padding: 20px;
	color: #808080 ;
}
main{
	margin: 50px auto;
	width: 840px;
}
.text{
	color: #808080;
}
.section-box{
	margin:30px auto;
	padding-bottom: 30px;
	border-bottom:1px solid #848282;
}
.section-box:first-child{
	padding-top: 0;
}